<header class="site-header">
    <head>
    <!-- <style>
    .nav {
      background-color: pink; 
      list-style-type: none;
      text-align: center;
      margin: 0;
      padding: 0;
    }
    
    .nav li {
      display: inline-block;
      font-size: 20px;
      padding: 20px;
    }
    </style> -->
    <!-- </head>

  <div id="header">
    <nav>
      <ul class="nav">
        <br>
        <h1 class="project-name"><a href="{{ site.github.repository_url }}#readme" style="color:white;">✨Grace's Blog✨</a></h1>
        <li class="fork"><a href="{{site.baseurl}}/" class="btn">Home</a></li>
        <li class="fork"><a href="{{site.baseurl}}/csse" class="btn">CSSE</a></li>
        <li class="fork"><a href="{{site.baseurl}}/csp" class="btn">CSP</a></li>
        <li class="fork"><a href="{{site.baseurl}}/csa" class="btn">CSA</a></li>
        
        <li class="title"><a href="{{ site.github.repository_url }}#readme" class="btn">GitHub</a></li>
      </ul>
    </nav>
  </div> -->
<!-- </header> -->

<header class="page-header" role="banner">
  <h1 class="project-name">Grace's Blog</h1>
    <a href="{{site.baseurl}}/" class="btn">Home</a>
    <a href="{{site.baseurl}}/blogs" class="btn">Lab Notebook</a></li>
    <a href="https://github.com/pages-themes/cayman" class="btn">GitHub</a>  
</header>