<header class="site-header">
    <head>
    <style>
    .nav {
      background-color: pink; 
      list-style-type: none;
      text-align: center;
      margin: 0;
      padding: 0;
    }
    
    .nav li {
      display: inline-block;
      font-size: 20px;
      padding: 20px;
    }
    </style>
  </head>

  <div id="header">
    <nav>
      <ul class="nav">
        <br>
          <a href="{{site.baseurl}}/notes" class="btn">Notes</a>
          <a href="{{site.baseurl}}/csa" class="btn">Lab Notebook</a></li>
          <a href="{{site.baseurl}}/blogs" class="btn">GitHub</a>
      </ul>
    </nav>
  </div>
</header>

<!-- <header class="page-header" role="banner">
  <h1 class="project-name">Grace's Blog</h1>
    <a href="{{site.baseurl}}/" class="btn">Home</a>
    <a href="{{site.baseurl}}/blogs" class="btn">Lab Notebook</a></li>
    <a href="https://github.com/pages-themes/cayman" class="btn">GitHub</a>  
</header> -->



<header>
  <a href="{{site.baseurl}}/"><img src="https://cdn.discordapp.com/attachments/1010780182476496908/1143782132897042502/Screenshot_2023-08-21_at_9.23.54_AM.png" alt="Logo" /></a>
  
  <ul class="downloads">
    <li><a href="{{site.baseurl}}/notes" ><strong>Notes</strong></a></li>
    <li><a href="{{site.baseurl}}/csa"><strong>Lab Notebook</strong></a></li>
    <li><a href=""><strong>GitHub</strong></a></li>
  </ul>
  
</header>